{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static "style_event_details.css" %}">
<link href="https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>archives</title>
</head>

<body>

<header></header>

<div class="row">
  <div class="column side" id="left">
    <h1>{{ event.type }}</h1>
    <h2>{{ event.title }}</h2>
    <h3 id="artists">
      {% for a in event.artist.all %}
        {{ a }}<br>
      {% endfor %}
    <h4>{{ event.year }}</h4>
  </div>


  <!-- IMAGES LOOP -->
  <div class="column middle">
  {% if images %}
    {% for i in images %}
      <img src="{{ i }}" alt="{{ event.title }}" class="media">
    {% endfor %}
  {% endif %}
  </div>

  <div class="column side" id="right">
    <a href="/"><img src="{% static "image/eb_logo.png" %}" alt="Archives" id="logo"></a>
    <p id="description">
      {{ event.description }}
    </p>
</div>
</div>

<div class="footer"></div>

</body>
</html>
