{% load static %}
<!DOCTYPE html>

<!--

**********************************************
Archive project by Samuelle Bordeleau & Tiago Bortoletto Vaz for Eastern Bloc
Source code: https://github.com/sbordel/ebarchives

Back-end design: Tiago Bortoletto Vaz
Email: tiago at acaia dot ca
Django (https://www.djangoproject.com/)

Front-end design: Samuelle Bordeleau
Email: sammebordeleau at hotmail dot com
**********************************************

-->


<html lang="en">
<meta charset="utf-8">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i&amp;subset=latin-ext,vietnamese">
<link type="text/css" rel="stylesheet" href='{% static 'style_index.css' %}'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<title>archives eb</title>

<body>
<header></header>
<div class="grid">
<nav>
<img src="{% static "image/eb_logo.png" %}" alt="Archives" class="index" id="img">
<!--searchbar-->
<p><table id="search" cellpadding="0" cellspacing="0" border="0">
<tr>
    <input type="search" name="q" size="10">
    <input type="submit" value=" -> ">
</tr>
</table></p>
<!--navigation-->
<p class="index"><a href="/exhibition">exhibitions</a></p>
<p class="index"><a href="/collaboration">collaborations</a></p>
<p class="index"><a href="/salon_data">data : salon</a></p>
<p class="index"><a href="/sight_sound">sight & sound</a></p>
<p class="index"><a href="/workshop">workshops</a></p>
<p class="index"><a href="/residence">residencies</a></p>
<p class="index"><a href="/radio">radio</a></p>
<p class="index"><a href="/talk">talks</a></p>
<p class="index"><a href="/event">events</a></p>
<p class="index"><a href="/meetup">meet-ups</a></p>
<p class="index"><a href="/acknowledgment">*</a></p>
</nav>
</div>
<a class="language" href="index_fr.html">FR</a>
<a class="credits" href="https://www.socanfoundation.ca/"><img id="socan" src="{% static "image/socan_logo_small.png" %}" alt="SOCAN"></a>
<footer></footer>
</body>
</html>
